{% extends "layout.html" %}
{% block title %}Internship Platform App{% endblock %}
{% block page %}Internship Platform App{% endblock %}

{{ super() }}

{% block content %}
    <h1>Internship Platform</h1>
    {% if is_authenticated %}
        <p> Welcome {{current_user.username}} </p>
    {% endif %}
    <p>Internship Platform</p>
    <p>Welcome to the Internship Platform! This is a web application designed to facilitate the internship application process for students and companies.</p>
    <strong>Built By The Web Wizards</strong>
{% endblock %}